@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500&display=swap');

  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    border: none;
  }
body{
    background-color:#fff
}
::selection{
    background-color:#3d3d3d ;
}
:root{
--green:#00E77F;
--white:#fff;
--black:#3d3d3d;
--red:rgb(255, 0, 55);
--blue:#154760;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
   max-width: 1200px;
   margin: 0 auto;
   padding:.5rem 2rem;

}



.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    /*  background-color: #154760;;*/
    background-image: 
    linear-gradient(to bottom,#154760,#00000018),
    url('image/0122-uiuxfrontend-Waldek_Social-836df1eeafa62b99011d845c4163cfdc.png');
    background-size: cover

}
.header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .row .logo{
    display: flex;
}
.header .row .logo a{
    font-size:2.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'Pacifico', cursive;  
    margin-top: 1rem; 
  
}

.header .row .logo img{    
    padding-top:.5rem;
    width: 5rem;
}

.header .row .navbar{
    margin-left:5rem;
  position: relative;
}
.header .row .navbar a{
text-decoration: none;
color: #fff;
font-size:2rem ;
font-family: 'Pacifico', cursive;
padding: .5rem 2.5rem;
}

.header .row .navbar a:hover{
    color:#fff;
    transition: .5s;
    box-shadow:0 0 5px 5px var(--blue) ;
}
#menu-btn{
    color:#fff;
    font-size: 3rem;
    display: none;
    
  
}
.row a{
       text-decoration: none;
}
#menu{
    color:#fff;
    font-size: 4rem;
    box-shadow:0 0 5px 5px #00E77F;
    border-radius: 50%;
    animation-name: shadow;
    animation-duration:1s;
    animation-iteration-count: infinite;
 }
 @keyframes shadow{
    0%   {box-shadow:0 0 20px 2px#00E77F}
    50%   {box-shadow:0 0 20px 15px #00E77F;}
    100% {box-shadow:0 0 20px 2px #00E77F;}
 
  }








.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   /* background-color: blue;*/
    position: relative; 
    background-image:
    linear-gradient(to top,#154760,#00000018),
     url('image/0122-uiuxfrontend-Waldek_Social-836df1eeafa62b99011d845c4163cfdc.png');
    background-repeat: no-repeat;
background-size:100% 72rem;
box-shadow:0px 3px 15px var(--blue) ;
height: 67rem;
width: 100%;
}
.home .row .container{

     width: 90%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     height:100%;
     margin: auto;
     flex-direction: column-reverse;


 }
 .home .row  .container .image{
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    margin-top:13rem ;
    overflow: hidden;
   
    
   /* margin-right: 5rem;*/

    margin-left: 2rem;
   background-color: rgba(245, 245, 245, 0.774);
   animation-name: play;
    animation-duration:2s;
    animation-iteration-count: infinite;
 }
 @keyframes play{
    0%   {box-shadow:0 0 20px 2px white}
    50%   {box-shadow:0 0 20px 15px white;}
    100% {box-shadow:0 0 20px 2px white;}
 
  }
 .home .row  .container .image img{
  width: 25rem;
  margin-top: .5rem;
  margin-left: -1rem;
 
 
 
 }
 .home .row .container .content{
    width: 100%;
    height:27rem ;

    text-align: center;



 }

.home .row .container .content h1{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
       padding: .5rem;
     font-size:2.5rem;
     margin-left: 2rem;

 

}




.about h3{
   text-align: center;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-top:8rem;
    color:#154760;
    margin-bottom: 4rem;
}
.about span{
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-top:8rem;
    color:#3d3d3d;
}
.about .row {
    transition: .5S;
    box-shadow:0px 3px 15px var(--blue) ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.about .row .content{    
 padding:2rem 0rem ;
    text-align: center;
    width: 60%;
      margin: auto;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    
}
.about .row  .content span{
    color:#3d3d3d;
    font-size: 2.5rem;
    line-height:4rem;
    text-align: center;
     
}




.education h3{
    text-align: center;
     font-size: 6rem;
     font-weight: bold;
     font-family: 'Rubik', sans-serif;
     margin-top: 9rem;
     color:#3d3d3d;
     margin-bottom:4rem;
 }

 .education .row  {
    transition: .5S;
    box-shadow:0px 3px 15px var(--blue) ;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
   
    
 }
 .education .row .content{    
    padding-left: 10px;
    text-align: center;
    width: 60%;
    margin-left: 5rem;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
  
}
 .education .row  .content span{
    color:#3d3d3d;
     font-size: 2.5rem;
     line-height:4rem;
      
 }

 .education .row  .imagee img{ 
     width: 90%;
  
     

 }




.skills h3{
    color: var(--blue);
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-top: 10rem;

}
.skills span{
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin-top: 10rem;
    color:#3d3d3d;
}
.skills .row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 98%;
    margin: auto;
    flex-wrap: wrap;
   
}

.skills .row  h1{
    margin-top: -1rem;
    background-color: var(--blue);
    box-shadow:0px 0px 15px var(--blue) ;
   
    color: #fff;
    font-size: 3.5rem;
}


.skills .row  .technical p,.soft p{
   font-size:2rem;
   font-weight: bold;
   font-family: 'Rubik', sans-serif;
   transition: .3s;
   color: var(--blue);
   padding: 1.5rem 1rem .5rem 1rem;
}
.skills .row .technical,.soft{
    background-color: #fff; 
    width: 40rem;
    height:45rem ;
 
    box-shadow:0px 3px 15px var(--blue) ;  
    transition: .5s;
}
.skills .row  .technical:hover,.soft:hover{
scale: 1.1;
}

.skills .row .imm img{
    width: 15rem;
    height: 20rem;
    margin-top: 60px;
    box-shadow:0px 3px 15px var(--blue) ;
    
   
}





.project h3{
    color: var(--blue);
text-align: center;
font-size:6rem;
font-weight: bold;
font-family: 'Rubik', sans-serif;
margin-top: 9rem;
}

.project .slide{
  /* background-color: blue;*/
  margin-bottom: 8rem;
    position: relative;
    overflow: hidden; 
    height: 250px;
    margin-top: 60px;
    box-shadow:0px 3px 15px var(--blue) ;
    cursor:grab;
}
.project .slide img{
    width: 100%;
    height: 250px;

    border-radius: 5px;  
 /*   margin-top: 100px;*/
   
}
.project .swiper-pagination-bullet {
    background-color: #3d3d3d;
}
.project .swiper-pagination-bullet-active{
    background-color: var(--blue);;
}

.project .slide .info {
    background-color: #fff;
    position: absolute;
    top:25rem;
    width: 100%;  
    height: 50%;
  transition:.5s;
  border-top-right-radius: .5rem;
  border-top-left-radius:.5rem;
  box-shadow:0 0 5px 5px var(--blue) ;

}
.slide:hover .info{
    top:12.5rem;
}
.project .slide .info .na{

    margin-top:1rem;
}
.project .slide .info h4{
    margin-top:.2rem;
    margin-left: .8rem;
    font-weight: bold;
font-family: 'Rubik', sans-serif;
color: var(--blue);
font-size:1.8rem;
}
.project .slide .info span{
    font-size:1.6rem;
    color: #3d3d3d;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
 
}
.project .slide .info .bt {
    width: 80%;
    margin: auto;
    display: flex;
   justify-content: space-between;

}
.project .slide .info .bt a{
    text-decoration: none;
    text-align: center;
    margin:  1rem  1rem  1rem  1rem;
    padding:.8rem;
    width: 10rem;
    font-size: 1.8rem;
    background-color: var(--blue);
    border: none;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
 transition: .3s;
}
.project .slide .info .bt button:hover{
    scale: 1.11;
}










 .contact{
    padding-top:12rem;
    margin-bottom: 5rem;
 }
 .contact .row { 
    display: flex;
    justify-content: space-between;
    box-shadow:0px 3px 15px var(--blue) ;
 }
 .contact .row  .information{
    box-shadow:0px 3px 15px var(--blue) ;
    background-color:var(--blue);
 margin:2rem;
 }
 .contact .row  .information h4{
    font-weight: bold;
font-family: 'Rubik', sans-serif;
color: #fff; 
font-size:2.5rem;
padding: 1rem;

 }
 .contact .row .information span{
    color:#fff;
    font-size: 2rem;
    font-weight: bold;
font-family: 'Rubik', sans-serif;
 }
 .email{
    text-transform: lowercase;
 }

 .contact .row  .icon{

width:60rem;

margin-top: 10rem;
margin-right:5rem;
position: relative;
display: flex;
justify-content: space-between;
 }
 .contact .row  .icons1{
    width: 100%;
    height:6rem;
    margin-top:5rem;
    position: absolute;
    display: flex;
   justify-content: space-between;

  
 }
 .contact .row  .icons1 img{
height: 100%;
width:25rem; 
border-radius: 10px;
 }
 .contact .row  .icons2{
    width: 100%;
    height:6rem;

    position: absolute;
    display: flex;
   justify-content: space-between;

    margin-top: 15rem;

 }
 .contact .row  .icons2 img{
    height: 80%;
    width:17rem; 
    border-radius: 10px;
    margin:0 5rem 0 5rem ;
   
     }
     .contact .row  img:hover{
        box-shadow:0px 3px 15px var(--blue) ;
     }



 .contact .row  .copy{
 
    width: 100%;
    position: absolute;
    margin-top: 27rem;
    text-align: center;
 }
 .contact .row  .copy h4{
    color: var(--blue);
    font-weight: bold;
font-family: 'Rubik', sans-serif;
font-size: 2.2rem;
transition:.5s;
 }
 .contact .row  .copy span{
    color: var(--blue);
    font-weight: bold;
font-family: 'Rubik', sans-serif;
font-size: 2.2rem;

 }
 
 .contact .row  .copy h4:hover{
    scale:1.1;
 }





@media(max-width:1130px){
html{
    font-size: 55%;
}
.project .slide .info {
    top:30rem;
}
.slide:hover .info{
    top:15rem;
}
}

@media(max-width:996px){
    html{
        font-size: 50%;
    }
    .project .slide .info {
        top:32rem;
    }
    .project .slide .info .na h4{
    font-size:2rem;
    }
    .project .slide .info .na span{
        font-size:1.8rem;
    }
    .slide:hover .info{
        top:17rem;
    }
    .project .slide .info .bt a{
       margin-left: 6rem;
       margin-right: 6rem;
    }
   .education .row .content span{
        font-size: 2.2rem;
    }
    .education .row  .imagee img{
        width: 65%;
        margin-left: 9rem;
    }
    .header .row .navbar a{
        font-size:2.5rem ;
        }
}

@media(max-width:910px){
    html{
        font-size: 45%;
    }
    .content span{
        font-size: 2rem;
    }
    .project .slide .info {
        top:35rem;
    } .slide:hover .info{
        top:19rem;
    }
    .project .slide .info .na h4{
    font-size:2rem;
    }
    .project .slide .info .na span{
        font-size:1.8rem;
    }

   
 }

 @media(max-width:820px){
    html{
        font-size: 42%;
    }
    .content span{
        font-size: 1.8rem;
    }
    .project .slide .info {
        top:38rem;
    } .slide:hover .info{
        top:21rem;
    }
    .project .slide .info .na h4{
    font-size:2rem;
    }
    .project .slide .info .na span{
        font-size:1.8rem;
    }
   
 }
 @media(max-width:780px){
    html{
        font-size: 40%;
    }
    .content span{
        font-size: 1.6rem;
    }
    .project .slide .info {
        top:40rem;
    } .slide:hover .info{
        top:23rem;
    }
    .project .slide .info .na h4{
    font-size:2rem;
    }
    .project .slide .info .na span{
        font-size:1.8rem;
    }

     .contact .row  .icons{
        width:50rem;
     }
     .education .row  .imagee img{ 
        margin-left: 5rem;
    }
 }

 @media(max-width:767px){
.project .slide{
    margin-bottom: 8rem;
      height: 320px;
      margin-top: 10px;
  }
  .project .slide img{
 width: 100%;
 height: 100%;
  }
  .project .slide .info {
    top:55rem;
} .slide:hover .info{
    top:29rem;
}
.project .slide .info .na h4{
font-size:2.8rem;
}
.project .slide .info .na span{
    font-size:2.6rem;
}
.project .slide .info .bt a{
    margin:2rem ;
    width: 20rem;
    font-size: 2.6rem;

}
 }
 
 @media(max-width:740px){
  
    .header .row .navbar{
        background-image:
        linear-gradient(to right,#154760,#00000018),
         url('image/0122-uiuxfrontend-Waldek_Social-836df1eeafa62b99011d845c4163cfdc.png');
        background-repeat: no-repeat;
    background-size:100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
          text-align: center;
          width: 94%;  
          width: 90%;
       margin: auto;
       }
       .header .row .navbar a{
      display: block;
      padding: 2px;
       }
      
       #menu{
           margin-right: 100px;
       }
       #menu-btn{
       display: inline-block;
       cursor: pointer;
     }
     #menu-btn.fa-times{ 
       transform:rotate(180deg);
   }
   .header .row .navbar.i{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  
   }
 .about .row ,.education .row{
    flex-wrap: wrap-reverse;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  
}

.education .row  .imagee img{ 
    width: 40%;
    margin-right:3rem ;
}
.education .row .content
{
    width: 90%;
    padding: 2rem 3rem 2rem 0rem ;
} 
.skills .row  {
    margin-top: 4rem;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .skills .row .imm{
    padding-bottom: 10rem;
  }
  .contact .row{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact .row  .icon{
    width: 50rem;
    margin: auto;
     height: 45rem;
    
}
.contact .row  .icon .icons1 ,.contact .row  .icon .icons2{
   flex-direction: column;
     align-items: center;
     gap:2rem;

     }
     .contact .row  .icon .icons2{
        flex-direction: column;
          align-items: center;
          gap:1rem;
 
          margin-top: 22rem;
          }
          .contact .row  .icon .icons2 img{
            width:20rem;
            height: 95%;
          }
         .contact .row  .copy {
         margin-top: 40rem;
        
         }
        
        
}
@media(max-width:600px)
{ 

    .project .slide .info .bt a{

        width: 15rem;
        font-size: 2.6rem;
        margin:2rem ;
    }
    
      
 }
 @media( max-width:550px )
 {   
    .home .row  .container .image img{
       margin-left: -1rem;
    }

}


   @media( max-width:440px )
   {    
    .home .row  .container .image img{
        margin-left: -1rem;
     }
     .home .row .container .content h1{
  
       font-size:2.5rem;
    
    }
    html{
        font-size: 38%;
     }
     .project .slide .info {
        top:55rem;
    } .slide:hover .info{
        top:32rem;
    }
  }


 @media(max-width:370px)
 { 
 html{
    font-size: 36%;
 }
 .project .slide .info {
    top:56rem;
} .slide:hover .info{
    top:36rem;
}
  }
  @media(max-width:320px)
  { 
  html{
    font-size: 30%;
  }
  .project .slide .info {
    top:70rem;
} .slide:hover .info{
    top:47rem;
}

   }
 @media(max-width:280px)
{ 
html{
  font-size: 25%;
}
.project .slide .info {
  top:80rem;
} .slide:hover .info{
  top:60rem;
}

 }